<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Machiavelli | Choose Game Mode</title>
</head>

<body>
    <h1>🃁 Machiavelli 🃁</h1>

    <ul>
        <li><a href="{{ url_for('start_singleplayer') }}">Singleplayer <br>👩‍💻</a></li>
        <li><a href="{{ url_for('start_hotseat') }}">Hotseat <br>🧑🖥️🧑</a></li>
    </ul>


    <a href="{{ url_for('rules') }}">Rules 📑</a>

</body>

</html>