<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Rummy Game</title>
</head>

<body>
    <h1>Welcome to the Rummy-like Card Game</h1>

    <form action="{{ url_for('start_game') }}" method="post">
        <label for="game_type">Choose Game Type:</label>
        <select id="game_type" name="game_type">
            <option value="singleplayer">Singleplayer</option>
            <option value="hotseat">Hotseat</option>
            <option value="online">Online</option>
        </select>

        <br>

        {% if game_type == 'hotseat' %}
        <label for="player1_name">Player 1 Name:</label>
        <input type="text" id="player1_name" name="player1_name" required>

        <br>

        <label for="player2_name">Player 2 Name:</label>
        <input type="text" id="player2_name" name="player2_name" required>
        {% else %}
        <label for="player_name">Player Name:</label>
        <input type="text" id="player_name" name="player_name" required>
        {% endif %}

        <br>

        <input type="submit" value="Start Game">
    </form>

</body>

</html>