<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Victory</title>
</head>

<body>

    {% if winner_name != "It's a tie!" %}
    {% if winner_name == "Computer" %}
    <h1>You lost!</h1>
    <h2>The computer won!</h2>
    {% else %}
    <h1>Congratulations, {{ winner_name }}!</h1>
    <h2>You won!</h2>
    {% endif %}
    {% else %}
    <h1>{{ winner_name }}</h1>
    <h2>Both players have the same number of cards.</h2>
    {% endif %}

    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Return to the Front Page</button>
    </form>

</body>

</html>